.container-fluid {
    padding: 20px;
}
.column-fit{
    width: 1px;
    white-space: nowrap;
}
.table-sm tr td{
    padding: 1px;
}
.table-critical{
    background-color: #d14545;
}
.table-critical td{
    border-bottom-color: #a63737;
    border-left-color: #a63737;
    border-right-color: #a63737;
}
.btn-outline-primary{
    color: #fff;
}
.dropdown-menu{
    min-width: 1rem;
}
.dropdown-item{
    padding: 0.12rem .75rem;
}