{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block header %}{{ title }}{% endblock %}
{% block content %}
   <a href={{ url_for('alterTrader') }} class="btn btn-success">Add</a>
   <br/>
   <br/>
   <table id="traders" class="table table-striped table-bordered" style="width: 100%;">
      <thead>
         <tr>
            <th>&nbsp;</th>
            <th>Product</th>
            <th>BUY Upper/Lower</th>
            <th>Sell Upper/Lower</th>
            <th>&nbsp;</th>
         </tr>
      </thead>
      <tbody>
         {% for item in traders %}
            <tr>
               <td><a href={{ url_for('viewTrader', id=item.id) }}>View</a></td>
               <td>{{ item.product }}</td>
               <td>{{ item.buyupperthreshold ~ '/' ~ item.buylowerthreshold }}</td>
               <td>{{ item.sellupperthreshold ~ '/' ~ item.selllowerthreshold }}</td>
               <td><a href= {{ url_for('alterTrader', id=item.id) }}>Edit</a>|<a href={{ url_for('deleteTrader', id=item.id) }}>Del</a></td>
            </tr>
         {% endfor %}
      </tbody>
   </table>
{% endblock %}
{% block scipt %}
   <script type="text/javascript">
      $(document).ready(function(){
         $('#traders').DataTable();
      });
   </script>
{% endblock %}